nav
{
    background-color: #8C52FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


nav .left
{
    color: white;
    font-size: 30px;
    margin-left: 1vw;
    font-weight: 600;
    letter-spacing: .3dvw;
}

nav #person
{
    height: 3.5em;
    width: 3.5em;
    border-radius: 50%;
    margin-right: .5vw;
    margin-block: .2vw;
}

nav .right a
{
    font-size: 1.5em;
    margin-right: 1vw;
}




.list
{
    flex-wrap: wrap;
    display: flex;
    justify-content:flex-start;
    padding: 10em;
    margin:  0 auto;
}


.card
{
    margin-right: 15vw;
    margin-bottom: 5vh;
    background-color: #EDE4FF;
    border-color: #EDE4FF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: .3s;
}

.card:hover
{
    transform: scale(1.008);
}

.card a
{
    text-decoration: none;
    font-size: 25px;
    color: #5315cf;
}
